{
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "semi": false,
    "arrowParens": "avoid",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "printWidth": 70
}